---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Proyect">
    <h1>Sobre este proyecto</h1>
    <p>
        <span>ProyectoAstro_1</span> es un proyecto que usa Astro y implementa Tailwind
    </p>
</Layout>
