---
import SocialButtons from "./SocialButtons.astro";
---

<footer
    class="w-full border-primary border-t-2 flex flex-col
 md:flex-row  items-center md:justify-between pt-6 pb-20 "
>
    <span class="text-center text-primary">
        By Neo Kurai
        <span aria-hidden class="hidden md:inline">|</span>
        <br aria-hidden class="block md:hidden" />
        Todos los derechos reservados.</span
    >

    <SocialButtons/>
</footer>

