---
import HeroLogo from "./HeroLogo.astro";
---

<section class="flex flex-col items-center ">
    <div class="relative">
        <h2 class="flex ml-24 -rotate-6">SoyNeoKurai</h2>
        <div class="absolute inset-0 -z-10 m-auto size-[200px] rounded-tr-sm  bg-purple-200 opacity-70 blur-md"></div>
        <a href="/">
            <HeroLogo class="h-auto w-[250px] overflow-visible md:w-[500px]" />
        </a>
    </div>
</section>