<nav class:list={'${Astro.props.class'}>
<ul class="flex flex-row items-center gap-x-6">
        <li>
            <a href="https://www.wattpad.com/user/akirakurai13" target="_blank" rel="noopener" class="hover:scale-125 hover:opacity-70 transition inline-block">
                <img src="./wattpad-logo.svg"
                    alt="Logo de wattpad"
                />
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/@soyneokurai1939" target="_blank" rel="noopener" class="hover:scale-125 hover:opacity-70 transition inline-block"
                ><img  src="./youtube-logo.svg" alt="Logo de Youtube" /></a>
        </li>
    </ul>
    </nav>