---
import Layout from '../layouts/Layout.astro';


import Footer from '../sections/Footer.astro';
import Hero from '../sections/Hero.astro'
import EntradaPrincipal from '../sections/EntradaPrincipal.astro';
---

<Layout title="Historias Neo">
	<Hero />
	<EntradaPrincipal/>
	<main>
	
	</main>

	<Footer/>
</Layout>

