---
console.log("AQUI VA JS/TYPE 🚀");
import HeaderButton from "./HeaderButton.astro";
---

<header class="py-8 px-4 mx-auto max-w-xl lg:px-6">
    <div class="border-solid border-red-300 border-2 px-14 mx-30">
        <h2 class="text-center text-white font-mono">
            Primer Proyecto con ASTRO Y TAILWIND 🚀
        </h2>
    </div>

    <nav class="px-30 mx-20 mt-10">
        <HeaderButton href="">
            <svg 
            width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-activity"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12h4l3 8l4 -16l3 8h4" /></svg>Inicio</a>
        <HeaderButton href="/about"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-alert-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" /><path d="M12 8v4" /><path d="M12 16h.01" /></svg>Informacion sobre el poyecto</a>
        <HeaderButton></HeaderButton>
    </nav>
</header>
 